/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* Global styling */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    min-height: 6000px;
}

/* Root */

:root {
    scroll-behavior: smooth;
    --background-color:  #fffef9;
    --background-color2: #E5E5E5;
    --background-color3: #E9ECEF;
    --btn-color:         #76C893;
    --btn-color-hover:   #99D98C;
    --fondo-negro-transparente : rgba(0, 0, 0, 0.836);
    --gradient1:           radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );
    --texts-color:       #333533;
    font-size: 62.5%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 0;
    overflow: hidden;
}

.no-padding {
    padding: 0;
}

h1 { font-size: 4rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.6rem; }
p  { font-size: 1.6rem; }
a  { text-decoration: none; font-size: 1.6rem; }
ul { list-style: none; }

/* Header */

.logo {
    width: 20%;
    min-width: 20rem;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.logo-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Navbar */

.nav{
    position: sticky;
    top: 0;
    left: 0;
    background-image: var(--gradient1);
    z-index: 100;
    transition: transform 0.3s ease;
}

.list{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.list-item{
    display: block;
    width: calc(90% / 6);
    padding: 1rem;
    transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}

.list-item:hover{
    background-color: var(--background-color3);
}

.nav-link{
    color: var(--texts-color);
    font-weight: 500;
}

.list-show{
    display: none;
    opacity: 0;
    transition: opacity .5s ease;
}

.fa-caret-right{
    width: 2rem;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    color: var(--texts-color);
}

.list-inside{
    margin-top: 1rem;
}

.nav-btn{
    background: none;
    outline: none;
    border: none;
    display: none;
    cursor: pointer;
    padding: 0.1px;
}

.fa-bars{
    font-size: 4rem;
    padding: .5rem;
    color: var(--texts-color);
}

/* Carrito de compras */

.car-btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: .5rem;
}

.fa-cart-shopping{
    width: 4.5rem;
    font-size: 3rem;
    color: var(--texts-color);
}

.shop-conatiner{
    position: fixed;
    top: 50%; /* Centra el borde superior en el 50% de la pantalla */
    right: 0; /* Lo pega al lado derecho */
    transform: translateY(-50%); /* Desplaza el elemento hacia arriba un 50% de su altura */
    width: 30%;
    height: 20rem;
    z-index: 200;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--texts-color);
    margin-right: -30%;
    transition: margin-right .3s ease;
}

.shop-conatiner--active{
    margin-right: 0;
}

/* Banner */

.banner-container{
    scroll-margin: 4rem;
    background-image: var(--gradient1);
    margin: 2rem 0;
}

.title-banner{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding: clamp(1rem, 0.79rem + 0.84vw, 2rem);
    font-size: clamp(2rem, 1.748rem + 1.008vw, 3.2rem);
    color: var(--texts-color);
}

/* Promo video */

.promo-video{
    display: block;
    width: 100%;
    max-width: 80rem;
    min-height: 25rem;
    margin: 0 auto;
    border-radius: clamp(0rem, -1.667rem + 1.852vw, 1rem);
    object-fit: cover;
    object-position: center;
}

/* Slider images */

.slider-flex {
    height: clamp(25rem, 21.849rem + 12.605vw, 40rem);
    margin: 2rem auto 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: changeBackground 20s infinite;
    border-radius: clamp(0rem, -1.667rem + 1.852vw, 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 1.16rem + 3.361vw, 6rem);
    color: #FFC300;
    text-transform: uppercase;
}

/* Cards section */

.section{
    background-image: var(--gradient1);
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    margin: 1rem;
}

.product-card{
    width: 100%;
    justify-self: center;
    border-radius: 1rem;
    background-color: var(--background-color);
}

.product-card.product-card--active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--fondo-negro-transparente);
    z-index: 300;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-card.product-card--active .product-info{
    display: none;
}

.product-card.product-card--active .product-image{
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

i.fa-circle-xmark{
    display: none;
}

.product-card.product-card--active i.fa-circle-xmark{
    display: block;
    font-size: clamp(2.5rem, 2.185rem + 1.261vw, 4rem);
    width: max-content;
    color: var(--background-color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 95%;
    margin-top: 2rem;
}

.product-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 20rem;
    min-height: 15rem;
    display: block;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
}

.product-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-name{
    width: 100%;
    font-size: clamp(1.6rem, 1.516rem + 0.336vw, 2rem);
    color: var(--texts-color);
    padding: 1rem;
    text-align: center;
}

.product-description{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
}

.product-price{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.6rem, 1.516rem + 0.336vw, 2rem);
}

.add-to-cart{
    width: 80%;
    border: none;
    outline: none;
    font-size: clamp(1.6rem, 1.516rem + 0.336vw, 2rem);
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: var(--texts-color);
    color: var(--background-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}

.add-to-cart:hover{
    background-color: #ADB5BD;
    color: var(--texts-color);
}

/* Definición de la animación */

@keyframes changeBackground {
    0% {
        background-image: url('../assets/zapato1.webp');
    }
    33% {
        background-image: url('../assets/zapato2.webp');
    }
    66% {
        background-image: url('../assets/zapato3.webp');
    }
    100% {
        background-image: url('../assets/zapato1.webp');
    }
}

/* Media querys */

@media (max-width:900px) and (min-width:250px){

/* Navbar */

    .list-item.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .list{
        margin-right: 1rem;
        flex-direction: column;
        align-items: flex-end;
    }

    .list-item{
        display: none;
        width: 100%;
        opacity: 0;
        transform: translateY(-10px);
    }

    .nav-btn{
        display: block;
        order: -2;
    }

    .fa-caret-right{
        margin-left: 1rem;
    }
    
/* Carrito de compras */

    .car-btn{
        order: -1;
        margin: .5rem 0;
        padding: 0;
    }

    .shop-conatiner{
        width: 50%;
        height: 20rem;
        margin-right: -50%;
    }

    .shop-conatiner--active{
        margin-right: 0;
    }

/* Banners */

    .banner-container{
    scroll-margin: 9rem;
    }

/* Cards section */

    .product-card.product-card--active .product-image{
        display: block;
        width: 100%;
        height: 50%;
        border-radius: 1rem;
        object-fit: cover;
        object-position: center;
        border-radius: 0;
    }

    .product-card.product-card--active i.fa-circle-xmark{
        top: 15%;
        left: 47%;
    }
}


